.content{
    display: flex;
}

.content>div{
    width: 50%;
}

.list{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details{
    background-color: yellow;
}